body{
 width: 100%;
 text-align: center;
}
.empty, .empty2{
	height: 250px;
}
.players{
	height: 400px;
	background-color: white;
	position:fixed;
	background-repeat: no-repeat;
	width: 1080px;
	text-align: center;
	margin: auto;
}
.players_pic img{
	width: 250px;
	height: 280px;
}