@import url('https://fonts.googleapis.com/css?family=Lalezar|Roboto&display=swap');

body{
	width: 100%;
	text-align: center;
}
.empty, .empty2{
	height: 250px;
}
.players{
	font-family: 'Roboto', sans-serif;
	padding-top: 20px;
	height: 700px;
	background-color: white;
	width: 100%;
	text-align: center;
	margin: auto;
}
.players_pic img{
	width: 250px;
	height: 280px;
}

.player-detail-content{
	text-align: center;
	width: 100%;
}

.player-detail-content table{
	text-align: center;
	margin: auto;
	table-layout: auto;
}

.title{
	width: 100px;
	background-color: #425a52;
}

.data{
	width: 100px;
	background-color: #aa2fd3;
}