@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lalezar|Roboto&display=swap');
body{
 height:1000px;
}
.navi_menu{
  list-style: none;
  text-align: center;
  width: 60%;
  padding-right: 70px;
  display: inline;
}
.navi_menu li{
  font-family: 'Roboto', sans-serif;
  display: inline;
  margin-right : 20px;
}
.navi_menu li a:link{
  color : black;
  text-decoration : none
}
.navi_menu li a:visited{
  color : black;
  text-decoration : none
}
.navi_menu li a:hover{
  color : orange;
  text-decoration : none
}
.navi_menu li a:active{
  color : orange;
  text-decoration : none
}
.navi_menu li a:focus{
  color : orange;
  text-decoration : none
}
.navigator{
  width: 1080px;
  height:50px;
  margin : auto;
  padding-top: 20px; 
   margin : auto;
  display: inline;
}
.navigator p{
  font-family: 'Playfair Display', serif;
  font-style: bold;
  padding-right: 50px;
  padding-left: 150px;
  width: 40%
  font-size:25px;
  display: inline;
}
footer{
  bottom:0;
  height : 30px;
  width : 100%;
  background-color: white;
  color : balck;
  padding-left: 15px;
  padding-top: 2px;
  margin : auto;
}
.home_content{
  width: 1080px;
  margin : auto;
  height : 800px;
  background-image:url('/img/my.jpg');
  text-align: center;
  background-repeat: no-repeat;
}
.home_content #home_name{
  color : black;
  font-size: 60px;
  font-family: 'Lalezar', cursive;
  text-shadow: 1px 1px black;
}
.home_content #home_desc{
  color : orange;
  text-align: center;
  margin-top: 0px;
  font-size: 20px;
  font-family: 'Lalezar', cursive;
}
.home_content hr{
  width : 600px;
  margin-left : auto;
  margin-right : auto;
}