.navi_menu{
  list-style: none;
  text-align: center;
  margin-top: 60px;
}
.navi_menu li{
  display: inline;
  margin : 20px;
}
.navi_menu li a:link{
  color : white;
  text-decoration : none
}
.navi_menu li a:visited{
  color : white;
  text-decoration : none
}
.navi_menu li a:hover{
  color : pink;
  text-decoration : none
}
.navi_menu li a:active{
  color : pink;
  text-decoration : none
}
.navi_menu li a:focus{
  color : pink;
  text-decoration : none
}
#x{
  color:white;
}
.navigator{
  position: fixed;
  background-color: white;
  color: #111010;
  height:50px;
  margin-bottom: 0px;
  padding-top: 20px;
  text-align: center;
  width : 100%;
}
footer{
  position: absolute;
  bottom:0;
  height : 30px;
  width : 100%;
  background-color: white;
  color : balck;
  padding-left: 15px;
  padding-top: 2px;
}

#mainImage{

}

.home_content{
  width : 100%;
  height : 800px;
  background-image:linear-gradient(to right,#CC95C0,#DBD4B4,#7AA1D2);
  background-size: 100%;
}
.home_content p{
  color : white;
  text-align: center;
  margin-top: 70px;
  padding-top: 160px;
  font-size: 70px;
  font-family:avenir-lt-w01_85-heavy1475544,sans-serif;
  text-shadow: 1px 1px black;
}
.home_content hr{
  width : 600px;
  margin-left : auto;
  margin-right : auto;
}